* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    background-color: #f6f6ee;
    color: #2f4f4f;
    scroll-behavior: smooth;
    overflow: hidden;

}

/* Split Screen Container */
.split-screen {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* Sidebar Nav */
.sidebar-nav {
    background: linear-gradient(307deg, #f6f6ee, #003366, #FF7F50);
    width: 9.5em;
    min-width: 9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: width 0.3s ease;
    overflow: hidden;
}

.sidebar-nav:hover {
    width: 12em;
}

.sidebar-nav nav ul {
    list-style: none;
    margin-top: 30px;
    font-weight: 400;
}

.sidebar-nav nav ul li {
    margin: 20px 0;

}

.sidebar-nav nav ul li a {
    color: #f6f6ee;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 18.5px;
}

.sidebar-nav nav ul li a i {
    font-size: larger;
    transition: transform 0.4s ease;
    margin-right: 10px;
}

.sidebar-nav nav ul li a:hover {
    color: #FF7F50;
    scale: 1.2;

}

/* Right Side Content */
.right-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;

}

/* Hero Section */
.hero {
    background: #003366;
    color: #f6f6ee;
    text-align: center;
}

.hero h2 {
    font-size: 26px;
    margin-top: 25px;
}

.hero p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto 20px;
    line-height: 1.5;
}

.hero-btn,
button {
    background-color: #FF7F50;
    margin-top: 80px;
    border-radius: 80px;
    padding: 10px 30px;
    text-transform: uppercase;
    color: #003366;
    text-decoration: none;
}

.hero-btn:hover {
    background-color: #003366;
    color: #FF7F50;
}

/* About Section */
.about {
    text-align: center;
    background-color: #f6f6ee;
}

.about p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

/* Experience Section */
#Experience {
    background-color: #f6f6ee;
}

.experience-item {
    background-color: #FF7F50;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-gap: 50px;
    padding: 60px;
    margin: 50px;
    border-radius: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.job {
    font-weight: bold;
    color: #001A33;
}

.dates {
    font-style: italic;
    color: #001A33;
}

.job-description {
    line-height: 1.6;
    color: #001A33;
}

/* Skills, Projects, Connect Sections */
.skills,
.projects,
.connect {
    background-color: #f6f6ee;
    text-align: center;
}

/*Social Media Icons */
.connect ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.connect ul li a img {
    width: 80px;
    height: 70px;

    transition: transform 0.3s ease;
}

.connect ul li a img:hover {
    transform: scale(1.1);
}

.right-content section {
    padding: 80px 50px;

}

@media (min-width: 768px) {
    .sidebar-nav {
        width: 12em;

    }

    .sidebar-nav:hover {
        width: 12em;

    }

    .sidebar-nav nav ul li a {
        flex-direction: row;
        justify-content: flex-start;
    }

    .sidebar-nav nav ul li a span {
        display: inline-block;
    }
}

/*Media queries- Mobile*/
@media (min-width: 768px) {
    .sidebar-nav {
        width: 9em;
    }

    .sidebar-nav:hover {
        width: 12em;
    }

    .sidebar-nav nav ul li a {
        flex-direction: row;
        justify-content: flex-start;
    }

    .sidebar-nav nav ul li a span {
        display: inline-block;
    }
}

/* Media Queries - Mobile */
@media (max-width: 767px) {

    /* Adjust Sidebar Nav */
    .sidebar-nav {
        width: 6em;
    }

    .sidebar-nav:hover {
        width: 6em;
    }

    .sidebar-nav nav ul li a {
        font-size: 16px;
        justify-content: center;
    }

    /*only icons */
    .sidebar-nav nav ul li a span {
        display: none;
    }

    /*text hidden*/
    .sidebar-nav:hover nav ul li a span {
        display: none;
    }

    /* Right Content */
    .right-content {
        padding: 15px;
    }

    /* Hero Section */
    .hero h2,
    p {
        font-size: 18px;
    }

    .hero-btn {
        padding: 8px 20px;
        margin-top: 60px;
    }

    .experience-item {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

/*Form*/
form {
    background-color: #f6f6ee;
    padding: 20px;
    max-width: 550px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    border: 1.5px solid #003366;
    color: #2f4f4f;
}